body {
    font-family: 'Rubik', sans-serif;
    font-size: 400;
    color: black;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

h1 {
    font-family: 'Alef', sans-serif;
    font-size: 30px;
    color: brown
}

ul {
    font-family: 'Rubik', sans-serif;
}

h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 500;
    color: brown;

}

.container {
    max-width: 800px;
    margin: auto;
}
