@font-face {
    font-family: 'yidishkeit';
    src: url('fonts/yidishkeit/400/YiddishkeitAlefAlefAlef-Bold.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'almoni';
    src: url('fonts/almoni-neue/400/almoni-neue-aaa-400.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'almoni';
    src: url('fonts/almoni-neue/700/almoni-neue-aaa-700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}


body {
    margin: 0;
    font-family: 'almoni', sans-serif;
    line-height: 1.5;
    font-size: 20px;
    font-weight: 400;
    color: #000;
}

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/david-holifield-TLZKlOBOsLs-unsplash.jpg);
    background-position: center 40%;
    background-size: cover;
    text-align: center;
    padding: 50px 0;
    color: #fff;
}

.banner img {
    max-width: 100%;
    width: auto;
    height: auto;
    display: block;
    margin: 10px auto;

}

.banner .container {
    max-width: 700px;
    font-size: 21px;
}
nav ul{
    list-style: none;
    padding:0;
    display: flex;
    justify-content: center;
    font-size: 24px;
}
nav a{
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    display: block;
}

h1 {
    font-size: 70px;
    font-family: 'almoni';
    font-weight: 700;

}

h1:after {
    content: "";
    background: url(img/line.png) no-repeat;
    background-size: contain;
    height: 30px;
    max-width: 300px;
    display: block;
    margin: auto;
}

h2 {
    font-size: 45px;
}

h2:after {
    content: "";
    background: url(img/gold%20line.png) no-repeat;
    background-size: contain;
    height: 30px;
    max-width: 300px;
    /* border-bottom: 3px solid #8f1a39; */
    width: 180px;
    display: block;
    margin: auto;
    
}

.button {
    text-decoration: none;
    color: #000;
    background: #f2bc3e;
    /* background: #6f1a39; */
    padding: 10px 40px;
    display: inline-block;
}

.button:hover {
    background: #225479;
    color: #fff;

}

.container {
    max-width: 940px;
    margin: auto;

}

.features {
    text-align: center;
    padding: 34px;
    position: relative
}

.features ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 56px;
}

.features img {
    max-width: 100px;
}

.features h2:after {
    margin: auto;
}

.products {
    padding: 23px 0;
    text-align: center;
    
     /* background: #42a3d6; */ 
}

footer {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 5px;
}
footer img{
    max-width: 40px;
    margin: 0 10px;
}
a{
    color:#fff;
}

header {
   margin-bottom: 40px;
}
header .container{
    
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
   
}

.current a {
    font-weight: bold;
}
